In [4]:
import pandas as pd
import re
df = pd.read_csv("C:\\Users\\User\\Documents\\Sentiment Analysis\\Resources\\trainingandtestdata\\testing.csv", parse_dates=["time"])
df.head(10)

,class,id,time,useless,useless1,text
0,4,3,2009-05-11 03:17:40,kindle2,tpryan,@stellargirl I loooooooovvvvvveee my Kindle2. ...
1,4,4,2009-05-11 03:18:03,kindle2,vcu451,Reading my kindle2... Love it... Lee childs i...
2,4,5,2009-05-11 03:18:54,kindle2,chadfu,"Ok, first assesment of the #kindle2 ...it fuck..."
3,4,6,2009-05-11 03:19:04,kindle2,SIX15,@kenburbary You'll love your Kindle2. I've had...
4,4,7,2009-05-11 03:21:41,kindle2,yamarama,@mikefish Fair enough. But i have the Kindle2...
5,4,8,2009-05-11 03:22:00,kindle2,GeorgeVHulme,@richardebaker no. it is too big. I'm quite ha...
6,0,9,2009-05-11 03:22:30,aig,Seth937,Fuck this economy. I hate aig and their non lo...
7,4,10,2009-05-11 03:26:10,jquery,dcostalis,Jquery is my new best friend.
8,4,11,2009-05-11 03:27:15,twitter,PJ_King,Loves twitter
9,4,12,2009-05-11 03:29:20,obama,mandanicole,how can you not love Obama? he makes jokes abo...

In [5]:
df = df.drop(['useless', 'useless1', 'id', 'time'], axis=1)
df.head(10)

   class                                               text
0      4  @stellargirl I loooooooovvvvvveee my Kindle2. ...
1      4  Reading my kindle2...  Love it... Lee childs i...
2      4  Ok, first assesment of the #kindle2 ...it fuck...
3      4  @kenburbary You'll love your Kindle2. I've had...
4      4  @mikefish  Fair enough. But i have the Kindle2...
5      4  @richardebaker no. it is too big. I'm quite ha...
6      0  Fuck this economy. I hate aig and their non lo...
7      4                      Jquery is my new best friend.
8      4                                      Loves twitter
9      4  how can you not love Obama? he makes jokes abo...

In [6]:
for i in range(len(df["text"])):
    temp = df['text'][i]
    temp1 = ' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)"," ",temp).split())
    temp2 = temp1.replace("RT", "")
    df['text'][i] = temp2

df.head(10)

C:\tools\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

   class                                               text
0      4  I loooooooovvvvvveee my Kindle2 Not that the D...
1      4  Reading my kindle2 Love it Lee childs is good ...
2      4  Ok first assesment of the kindle2 it fucking r...
3      4  You ll love your Kindle2 I ve had mine for a f...
4      4  Fair enough But i have the Kindle2 and I think...
5      4  no it is too big I m quite happy with the Kindle2
6      0  Fuck this economy I hate aig and their non loa...
7      4                       Jquery is my new best friend
8      4                                      Loves twitter
9      4  how can you not love Obama he makes jokes abou...

In [7]:
df.to_csv("C:\\Users\\User\\Documents\\Sentiment Analysis\\Resources\\trainingandtestdata\\testing_final.csv")